<div class="container py-3 my-4" style="background-color: #f8f9f9;
    box-shadow: 0 1px 5px #00000033; width: 40%;">
    <div>
        <h5 class="fw-bold">GIVE YOUR FEEDBACK PLEASE</h5>
    </div>

    <a href="/textChange" class="text-decoration-none">
        <form action="/commentData" , method="POST">
            <div class="form-floating">
                <textarea class="form-control my-2" placeholder="comment please" name="comment"
                    id="floatingTextarea"></textarea>
                <label for="floatingTextarea" class="text-dark">leave a Comment</label>
            </div>
            <button type="submit" class="btn btn-success my-2 py-2">Post Comment</button>
        </form>
    </a>

</div>
