<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learn Coding- Blogs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/63acc2c5e9.js" crossorigin="anonymous"></script>
</head>

<body>

    {{>navbar data=details}}
    
    {{!-- SLUG12 --}}

    <div class="container my-4 py-4">
        <h5 class="card-title fs-2 fw-bolder">How to Delete a User Account In Windows 10<hr class="w-75" /></h5>
        <p class="fs-5 w-75 py-2 text-secondary">The best thing about Windows operating system is its multi-user functionality. It takes only a few minutes to add a new user to your Windows pc. But what if you want to delete a user account? Don’t worry! It will not take more than 3 minutes. In this blog, I will tell you how you can easily delete a user’s account in Windows.<br />follow the steps given below to delete a user’s account in Windows 10 :.</p>

        <div class="d-flex flex-column py-2 w-75">
            <span class=" py-2 "><b>Step 1:</b> Click on the Windows logo in the bottom left corner of your computer screen.</span>
            <span class=" py-2 "><b>Step 2:</b> After clicking on the Windows logo, you will see a gear-shaped icon on the left side of your screen. Click on it to open the settings of your computer.</span>
            <span class=" py-2 "><b>Step 3:</b> Once the settings window is open, click on the Accounts option to proceed further.</span>
            <span class=" py-2 "><b>Step 4:</b> After opening the Accounts window, click on the <b>Family and other users</b> option.</span>
            <span class=" py-2 "><b>Step 5:</b> Under the other user section, you will see the name of the other users' accounts.</span>
            <span class=" py-2 "><b>Step 6:</b> Click on the account that you want to delete.</span>
            <span class=" py-2 "><b>Step 7:</b> Once you click on the account that you want to delete, you will see a remove button. Click on it to proceed further.</span>
            <p class="fs-5 w-75 py-2 text-secondary">Note: All the data associated with the account you’re trying to delete will be permanently deleted, so make sure you back up the important data.</p>
            <span class=" py-2 "><b>Step 8:</b> After clicking, a warning window will open, asking you to backup the data associated with the account that you’re deleting.</span>
            <span class=" py-2 "><b>Step 9:</b> Click on Delete account and data. It will take few seconds to delete the account. So, wait for some time, and you will see that the account is no longer available.</span>
        </div>
    </div>

    {{>comment}}
    {{>descShow desc = desc}}

    {{>footer}}
    <script src="../static/js/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>