<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learn Coding- Blogs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/63acc2c5e9.js" crossorigin="anonymous"></script>
</head>

<body>

    {{>navbar data=details}}
    
    {{!-- SLUG8 --}}

    <div class="container my-4 py-4">
        <h5 class="card-title fs-2 fw-bolder">PC Builds for Coding in your Budget <hr class="w-75" /></h5>
        <div class="d-flex flex-column py-2">
            <span class=" py-2 w-75 ">Hello everyone<br />
We are going for custom build this time just because prebuilds are not good and there you don’t have the option to choose the components and sometimes the performance of those components are poor. Also, prebuild components don’t offer you many upgradability options. In terms of custom builds, we have the independence to choose components and we also have better upgradability options. And we can build the pc at an affordable price.<br /></span>
            <span class="w-75 py-1 px-3 fw-bold fs-5"><br />20000 INR BUILD</span>
            <span class="w-75 py-1 px-3 ">For the 20k build, we are going with this configuration<br />
Processor - AMD Athlon 3000G<br />
Motherboard - Gigabyte AMD A320<br />
RAM - Corsair Vengeance 8 GB DDR4<br />
Storage - Seagate 1TB <br />
Cabinet - Frontech Semi-Premium Full ATX</span>
            <span class="w-75 py-1 px-3 fw-bold ">Total Price: 19038<br /></span>
            <span class="w-75 py-1 px-3 fs-5 fw-bold"><br />25000 INR BUILD</span>
            <span class="w-75 py-1 px-3 ">For the 25k build, we are going with this configuration.<br />
Processor - Core i3 10100<br />
Motherboard - MSI H510M-A PRO<br />
RAM - Corsair Vengeance 8 GB DDR4<br />
Storage - Seagate 1TB <br />
Cabinet - Frontech Semi-Premium Full ATX</span>
            <span class="w-75 py-1 px-3 fw-bold">Total Price: 27750<br /></span>
            <span class="w-75 py-1 px-3 fs-5 fw-bold"><br />30000 INR BUILD</span>
            <span class="w-75 py-1 px-3 ">For the 30k build, we are going with this configuration.<br />
Processor - Ryzen 3 3200G<br />
Motherboard - ASRock A320M<br />
RAM - Corsair Vengeance 8 GB DDR4<br />
Storage - Seagate 1TB <br />
Cabinet - Frontech Semi-Premium Full ATX</span>
            <span class="w-75 py-1 px-3 fw-bold ">Total Price: 26750 <br /></span>
            <span class="w-75 py-1 px-3 "><br />Due to the high prices of PC components at this time, these are the best I could gather. Maybe the prices will get low in the future, and these builds will become cheaper than they are right now. I have chosen iGPU for the intel build, and APU’s for AMD builds as dedicated graphics card prices are much higher. If you plan on gaming somewhere near the future, you can add a graphic card to the build. <br /> Here prepared a google sheet with links, you can access it by using the links given below--------</span>
            <span class="w-75 py-1 px-3 "><a class="text-decoration-none" href="https://docs.google.com/spreadsheets/d/1bXR7h7TqeqTOxT2cDsyRdVHqNTd8RjDl9jNvSuaEB8c/edit">https://docs.google.com/spreadsheets/d/1bXR7h7TqeqTOxT2cDsyRdVHqNTd8RjDl9jNvSuaEB8c/edit</a></span>
            <span class="w-75 py-1 px-3 "><a class="text-decoration-none" href="https://docs.google.com/spreadsheets/d/1TrrUcy8K-ndE2mh_FjED3tMZVNnu3cjZunWLgkrcmf8/edit#gid=0">https://docs.google.com/spreadsheets/d/1TrrUcy8K-ndE2mh_FjED3tMZVNnu3cjZunWLgkrcmf8/edit#gid=0</a></span>
            <span class="w-75 py-1 px-3 "><a class="text-decoration-none" href="https://docs.google.com/spreadsheets/d/1bXR7h7TqeqTOxT2cDsyRdVHqNTd8RjDl9jNvSuaEB8c/edit#gid=0">https://docs.google.com/spreadsheets/d/1bXR7h7TqeqTOxT2cDsyRdVHqNTd8RjDl9jNvSuaEB8c/edit#gid=0</a></span>
        </div>
    </div>

    {{>comment}}
    {{>descShow desc = desc}}

    {{>footer}}

    <script src="../static/js/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>