<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learn Coding- Blogs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/63acc2c5e9.js" crossorigin="anonymous"></script>
</head>

<body>

    {{>navbar data=details}}
    
    {{!-- SLUG6 --}}

    <div class="container my-4 py-4">
        <h5 class="card-title fs-2 fw-bolder">How to install VS Code in an Android Phone? <hr class="w-75" /></h5>
        <h5 class="pb-2 pt-4 card-title fs-2 fw-bolder">Step 1 - Install termux</h5>
        <div class="d-flex flex-column py-2">
            <span class=" py-2 ">In order to install VS code, you will have to install termux using this link. The official release available on the play<br /> store doesn't seem to get the packages updated for some reason.

<br /> <br />If upgrade command doesn't work on your termux, try to change the default repo by using the command below:</span>
            <span id="myText" class="w-75 text-light py-1 px-3 bg-secondary rounded" style=" overflow: auto; white-space: nowrap;">termux-change-repo</span> <button id="cpy" class="text-primary fw-bold btn border-0 d-flex align-items-start" onclick="copyContent()">Copy !</button>
        </div>
        <h5 class="pb-2 pt-4 card-title fs-2 fw-bolder">Step 2 - Install ubuntu using termux</h5>
        <div class="d-flex flex-column py-2">
            <span class=" py-2 ">Enter the following command on termux and ubuntu will start to install on your Android phone</span>
            <span id="myText1" class="w-75 text-light py-1 px-3 bg-secondary rounded" style=" overflow: auto; white-space: nowrap;" >pkg install wget openssl-tool proot -y && hash -r && wget https://raw.githubusercontent.com/EXALAB/AnLinux-Resources/master/Scripts/Installer/Ubuntu/ubuntu.sh && bash ubuntu.sh</span>  <button id="cpy1" class="text-primary fw-bold btn border-0 d-flex align-items-start" onclick="copyContent1()">Copy !</button> 
        </div>
        <div class="d-flex flex-column py-2">
            <span class=" py-2 ">start ubuntu by firing the following command:</span>
            <span id="myText2" class="w-75 text-light py-1 px-3 bg-secondary rounded" style=" overflow: auto; white-space: nowrap;">./start-ubuntu.sh</span> <button id="cpy2" class="text-primary fw-bold btn border-0 d-flex align-items-start" onclick="copyContent2()">Copy !</button>
        </div>
        <h5 class="pb-2 pt-4 card-title fs-2 fw-bolder">Step 3 - Downloading code server</h5>
        <div class="d-flex flex-column py-2">
            <span class=" py-2 ">We will now download the latest release of code server from Github using the following command:</span>
            <span id="myText3" class="w-75 text-light py-1 px-3 bg-secondary rounded" style=" overflow: auto; white-space: nowrap;">wget https://github.com/cdr/code-server/releases/download/v3.10.2/code-server-3.10.2-linux-arm64.tar.gz</span>   <button id="cpy3" class="text-primary fw-bold btn border-0 d-flex align-items-start" onclick="copyContent3()">Copy !</button>
        </div>
        <div class="d-flex flex-column py-2">
            <span class=" py-2 ">Extract the tarball using the following command:</span>
            <span id="myText4" class="w-75 text-light py-1 px-3 bg-secondary rounded" style=" overflow: auto; white-space: nowrap;">tar -xvf ./code-server-3.10.2-linux-arm64.tar.gz</span> <button id="cpy4" class="text-primary fw-bold btn border-0 d-flex align-items-start" onclick="copyContent4()">Copy !</button>
        </div>
        <div class="d-flex flex-column py-2">
            <span class=" py-2 ">enter the /bin folder of your code-server installation on ubuntu (running on your phone)</span>
            <span id="myText5" class="w-75 text-light py-1 px-3 bg-secondary rounded" style=" overflow: auto; white-space: nowrap;">cd code-server-3.10.2-linux-arm64
<br />cd bin</span> <button id="cpy5" class="text-primary fw-bold btn border-0 d-flex align-items-start" onclick="copyContent5()">Copy !</button>
        </div>
        <h5 class="pb-2 pt-4 card-title fs-2 fw-bolder">Step 4 - Set up a password and start using VS Code</h5>
        <div class="d-flex flex-column py-2">
            <span class=" py-2 ">Setup a password for your VS Code instance using the following command:</span>
            <span id="myText6" class="w-75 text-light py-1 px-3 bg-secondary rounded" style=" overflow: auto; white-space: nowrap;">export PASSWORD="password"</span> <button id="cpy6" class="text-primary fw-bold btn border-0 d-flex align-items-start" onclick="copyContent6()">Copy !</button>
        </div>
        <div class="d-flex flex-column py-2">
            <span class=" py-2 ">Launch the code server using the following command:</span>
            <span id="myText7" class="w-75 text-light py-1 px-3 bg-secondary rounded" style=" overflow: auto; white-space: nowrap;">code-server</span> <button id="cpy7" class="text-primary fw-bold btn border-0 d-flex align-items-start" onclick="copyContent7()">Copy !</button>
        </div>
    </div>

    {{>comment}}
    {{>descShow desc = desc}}

    {{>footer}}


    <script>
        
        const copyContent = async () => {
            let text = document.getElementById('myText').innerHTML;
            await navigator.clipboard.writeText(text);
            document.getElementById('cpy').innerHTML = "Copied !"
        }

        const copyContent13 = async () => {
            let text = document.getElementById('myText13').innerHTML;
            await navigator.clipboard.writeText(text);
            document.getElementById('cpy13').innerHTML = "Copied !"
        }

        const copyContent2 = async () => {
            let text = document.getElementById('myText2').innerHTML;
            await navigator.clipboard.writeText(text);
            document.getElementById('cpy2').innerHTML = "Copied !"
        }

        const copyContent3 = async () => {
            let text = document.getElementById('myText3').innerHTML;
            await navigator.clipboard.writeText(text);
            document.getElementById('cpy3').innerHTML = "Copied !"
        }

        const copyContent4 = async () => {
            let text = document.getElementById('myText4').innerHTML;
            await navigator.clipboard.writeText(text);
            document.getElementById('cpy4').innerHTML = "Copied !"
        }

        const copyContent5 = async () => {
            let text = document.getElementById('myText5').innerHTML;
            await navigator.clipboard.writeText(text);
            document.getElementById('cpy5').innerHTML = "Copied !"
        }

        const copyContent1 = async () => {
            let text = document.getElementById('myText1').innerHTML;
            await navigator.clipboard.writeText(text);
            document.getElementById('cpy1').innerHTML = "Copied !"
        }

        const copyContent7 = async () => {
            let text = document.getElementById('myText7').innerHTML;
            await navigator.clipboard.writeText(text);
            document.getElementById('cpy7').innerHTML = "Copied !"
        }
    </script>

    <script src="../static/js/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>