<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learn Coding- Blogs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/63acc2c5e9.js" crossorigin="anonymous"></script>
</head>

<body>

    {{>navbar data=details}}
    
    {{!-- SLUG9 --}}

    <div class="container my-4 py-4">
        <h5 class="card-title fs-2 fw-bolder">5 Ways to Save Money as a Student<hr class="w-75" /></h5>
        <p class="py-2 w-75">This article is for those students who are currently studying and wants to save some money; I have gathered these methods by using which students can save up some money.</p>
        <div class="d-flex flex-column py-2 w-75">
            <span class="fs-5 py-2 fw-bold text-decoration-underline">Savings on Shopping</span>
            <span class=" py-2 ">If you are a student who shops online and wants to save some money, you should consider the great Indian sale and Flipkart Big Billion Days. You can get products at a huge discount which will help you to save some money.</span>
            <span class=" py-2 "><a class="text-decoration-none" href="https://www.amazon.in/diwali-great-indian-festival/b?ie=UTF8&node=3419926031">Amazon Great Indian Festival Sale.</a></span>
            <span class=" py-2 "><a class="text-decoration-none" href="https://www.flipkart.com/big-billion-days-store">Flipkart Big Billion Day Sale.</a></span>
            <span class=" py-2 fs-5 fw-bold text-decoration-underline">Developer</span>
            <span class=" py-2 ">Now, If you are a student who loves to code and you are a developer or want to be a developer, this will help you.</span>
            <span class=" py-2 "><a class="text-decoration-none" href="https://education.github.com/pack">Github Student Developer Pack:</a> You can opt for the Github Education pack and get a ton of paid software for free. Like You can get Bootstrap Studio for free, You can get three free domains from big domain providers like Namecheap, .tech, and name.com. The Github education pack has around 200k$+ amount of services, and everything is free for use.</span>
            <span class=" py-2 "><a class="text-decoration-none" href="https://aws.amazon.com/education/awseducate/">Aws Educate:</a> Through AWS Educate, students have access to content developed to skill up for cloud careers in growing fields. AWS Educate also connects companies hiring cloud skills to qualified student job seekers with the AWS Educate Job Board.</span>
            <span class=" py-2 "><a class="text-decoration-none" href="https://www.microsoft.com/en-US/microsoft-365/college-student-pricing">Microsoft:</a> If you’re a student or teacher, you are eligible to get the online version of Microsoft Office for free, plus 1 TB of online storage. </span>
            <span class=" py-2 "><a class="text-decoration-none" href="https://www.adobe.com/creativecloud/buy/students.html">Adobe: </a>You can get exclusive discounts of up to 70% on Adobe’s website for students.</span>
            <span class=" py-2 fs-5 fw-bold text-decoration-underline">Hosting</span>
            <span class=" py-2 ">If you are looking for hosting then, you can get free credits from these hosting services:</span>
            <span class=" py-2 "><a class="text-decoration-none" href="https://www.digitalocean.com/">Digital Ocean</a>: 100$ credit when you signup.</span>
            <span class=" py-2 "><a class="text-decoration-none" href="https://www.vultr.com/">Vultr</a>: 50$ credit for free when you signup.</span>
            <span class=" py-2 "><a class="text-decoration-none" href="https://www.linode.com/promotions/">Linode</a>: 100$ free credit when you signup.</span>
            <span class=" py-2 fs-5 fw-bold text-decoration-underline">Travel</span>
            <span class=" py-2 ">Some of the airline carriers in India provide discounts/extra luggage for students. </span>
            <span class=" py-2 ">Spicejet- <a class="text-decoration-none" href=""> https://corporate.spicejet.com/studentdiscountlanding.aspx</a> </span>
            <span class=" py-2 ">Vistara- <a class="text-decoration-none" href=""> https://www.airvistara.com/in/en/vistara-exclusives/vistara-student-discount</a> </span>
            <span class=" py-2 ">Indigo- <a class="text-decoration-none" href="https://www.goindigo.in/add-on-services/student-discount.html ">https://www.goindigo.in/add-on-services/student-discount.html </a></span>
            <span class=" py-2 ">Air India - <a class="text-decoration-none" href="https://www.airindia.in/student-concession.htm ">https://www.airindia.in/student-concession.htm </a></span>
            <span class=" py-2 fs-5 fw-bold text-decoration-underline">Credit Card</span>
            <span class=" py-2 ">If used carefully, a credit card is an amazing tool for students. Students can use it to avail a lot of discounts/reward points during shopping on various online platforms. However, be careful while using a credit card as people holding credit cards are likely to spend more!</span>
            <span class=" py-2 fs-5 fw-bold text-decoration-underline">Entertainment</span>
            <span class=" py-2 "><a class="text-decoration-none" href="https://www.amazon.in/b/ref=as_li_ss_tl?ie=UTF8&node=15307611031&linkCode=sl2&tag=bpo01-21&linkId=e3a403d0dcb0b02f8459d29316d387b8&language=en_IN">Amazon Prime: </a>Youth Entertainment Offers on Amazon Prime can help you save big bucks.</span>
            <span class=" py-2 "><a class="text-decoration-none" href="https://www.spotify.com/in-en/student/">Spotify: </a>Listen to your favorite tracks on Spotify Premium with the best student discounts ever!</span>
            <span class=" py-2 "></span>
            <span class=" py-2 "></span>
            <span class=" py-2 "></span>

            <span class=" py-2 "></span>


        </div>
        </div>

        {{>comment}}
        {{>descShow desc = desc}}

    {{>footer}}

    <script src="../static/js/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>