<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learn Coding- Blogs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/63acc2c5e9.js" crossorigin="anonymous"></script>
</head>

<body>

    {{>navbar data=details}}
    
    {{!-- SLUG11 --}}

    <div class="container my-4 py-4">
        <h5 class="card-title fs-2 fw-bolder">How to Type in Hindi in Windows 10<hr class="w-75" /></h5>
        <p class="fs-5 w-75 py-2 text-secondary fw-bold">Follow the steps given below to type in Hindi in Windows 10 :</p>
        
        <div class="d-flex flex-column py-2 w-75">
            <span class=" py-2"><b>STEP 1 :</b> Click on the Windows logo in the bottom left corner of your computer screen.</span>
            <span class=" py-2"></span>
            <span class=" py-2"><b>STEP 2 :</b> After clicking on the Windows logo, you will see a gear-shaped icon on the left side of your screen. Click on it to open the settings of your computer.</span>
            <span class=" py-2"><b>STEP 3 :</b> After opening the all settings window, click on the Time & Language option.</span>
            <span class=" py-2"><b>STEP 4 :</b> On the left side, you will see a Language option. Click on it to proceed further.</span>
            <span class=" py-2"><b>STEP 5 :</b> Now, we need to download the Hindi language. So, click on the Add a preferred language option.</span>
            <span class=" py-2"><b>STEP 6 :</b> Once you click on the Add a preferred language option, a window will open displaying the name of the different languages available. On the top of this window, you will find a search bar.</span>
            <span class=" py-2"><b>STEP 7 :</b>Type “Hindi” in the search bar, as shown in the below animation.</span>
            <span class=" py-2"><b>STEP 8 :</b> The Hindi language will be displayed below the search bar. Select it by clicking on it and then click on the Next button displayed at the bottom.</span>
            <span class=" py-2"><b>STEP 9 :</b> After clicking on the Next button, you will see a language features window. At the bottom of this window, you will find an install button. Click on the install button, and the Hindi language will be downloaded to your computer.</span>
            <span class="py-2"><b>STEP 10 :</b> Now, you need to select Hindi as the input language. To do so, click on the ENG displayed in the bottom right corner of your computer screen.</span>
            <span class=" py-2"><b>STEP 11 :</b> Once you click on ENG, a list of languages will be displayed. Select Hindi from the list.</span>
            <p class="fs-5 w-75 py-2 text-secondary">That’s all you need to do type in Hindi in Windows 10. Happy Typing !</p>
            <p class="fs-5 w-75 py-2 text-secondary fw-bold">If you want to type in English and want your text to be converted in Hindi, then follow the below steps:</p>
            <span class=" py-2"><b>STEP 1 :</b>  Head over to Settings-- Time & Language-- Language.</span>
            <span class=" py-2"><b>STEP 2 :</b> Click on Hindi and then click on options.</span>
            <span class=" py-2"><b>STEP 3 :</b> Once you click on options, a new window will open in which you will see a Keyboards section.</span>
            <span class=" py-2"><b>STEP 4 :</b> Click on Add a keyboard and select Hindi Phonetic.</span>
            <span class=" py-2"><b>STEP 5 :</b> Now, press the Windows key + Space bar. You will see a list of languages.</span>
            <span class=" py-2"><b>STEP 6 :</b> Select Hindi Phonetic from the list.</span> 
            <p class="fs-5 w-75 py-2 text-secondary">That’s all everything you type in English will be converted to Hindi. Happy Typing !</p>
        </div>
    </div>

    {{>comment}}
    {{>descShow desc = desc}}

    {{>footer}}

    <script src="../static/js/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>