    <!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted ftr">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/profile.php?id=100015868419472&mibextid=ZbWKwL" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/MOHITPA16373824?t=gvxhFez096HPO5zjaGkYxQ&s=09" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://instagram.com/mohit_pandey27?igshid=ZDdkNTZiNTM=" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/mohit-pandey-2b8433247" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/mohit9456" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->


  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
          <h6 class="text-uppercase fw-bold mb-4">
            <img style="width: 4rem; height: 3rem;" src="https://www.revive-adserver.com/media/html-symbol.png" alt="">
            <img style="width: 7rem; height: 7rem;" src="https://www.logodesign.net/images/letter-c-logo-tutorial.png" alt="">

          </h6>
        </div>
        

     
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          
          <h6 class="text-uppercase fw-bold mb-4">
            Blog
          </h6>
          <p>
            <a href="/blogs/django-cheatsheet" class="text-reset text-decoration-none">Django</a>
          </p>
          <p>
            <a href="/blogs/flask-cheatsheet" class="text-reset text-decoration-none">Flask</a>
          </p>
          <p>
            <a href="/blogs/mongodb-cheatsheet" class="text-reset text-decoration-none">MongoDb</a>
          </p>
          <p>
            <a href="/technical" class="text-reset text-decoration-none">Technology</a>
          </p>
        </div>
    

     
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
     
          <h6 class="text-uppercase fw-bold mb-4">
            policy
          </h6>
          <p>
            <a href="/privacy" class="text-reset text-decoration-none">Privacy</a>
          </p>
          <p>
            <a href="/settings" class="text-reset text-decoration-none">Settings</a>
          </p>
          <p>
            <a href="/about" class="text-reset text-decoration-none">About</a>
          </p>
          <p>
            <a href="/cookies" class="text-reset text-decoration-none">Cookies</a>
          </p>
        </div>
       

        
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> India, Uttarakhand</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            mohitpandey1287@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 7451066362</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="/">CodeSmashers.com</a>
  </div>

</footer>
<!-- Footer -->